<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Swadisht | Home</title>
</head>
<body>

        {{>navbar}}

          <section class="one">
            <div class="main-container text-center">
                <h1 class="text-center">SWADISHT</h1>
                <h4>Authentic Indian Food</h4>
            </div>
          </section>
          <div class="food">
            <div class="container">
                <div class="row">
                    <div class="col-3" >
                        <img src="/images/img-1.png" class="food-image1">
                        <p style="margin-left: -20px;">Maharashtra Special Missal</p>
                    </div>
                    <div class="col-3">
                        <img src="/images/img-2.png" class="food-image1">
                        <p style="margin-left: 1px;">Amritsari Dal Makhani</p>
                    </div>
                    <div class="col-3">
                        <img src="/images/img-3.png" class="food-image1">
                        <p style="margin-left: 60px;">Biryani</p>
                    </div>
                    <div class="col-3">
                        <img src="/images/img-4.png" style="width: 75%">
                        <p style="margin-left: 80px;">Dosa</p>
                    </div>
                </div>
            </div>
          </div>
          
</body>
</html>